---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'Child and youth education',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
  
    image={{ src: '~/assets/images/school/image.png', alt: 'Education' }}

    
  >
    <Fragment slot="title">
      Child and youth education in rural India of Majhouli Raj, Deoria UP, INDIA
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
Majhouli Raj is a small town in the Deoria district of Uttar Pradesh, India, with a population of around 20,000. There are over 12 elementary and middle schools, as well as a few high schools, including one girls’ higher education center. Government schools are generally not trusted, so most families prefer local private schools. While these schools aim to help children and the community, some have lost sight of the true purpose of education and focus more on business.

Currently, Khurshid runs an after-school program serving around 60 children: A few pay under $5 per month.

The rest attend free of charge, as their families cannot afford the fees.

The plan is to seek financial support from colleagues and well-wishers in the USA and India, and also take a government loan to open a school. This school will provide high-quality education at minimal fees of $5–$10 per month, and continue to offer free education for children whose families cannot afford it.

The Aim is to provide very high quality education and reacreational facilities to children from low-income families in rural India, enabling them to break the cycle of poverty and build a brighter future.
      </span>
    </Fragment>
  </Hero>


  <Hero
  
    image={{ src: '~/assets/images/school/s1.jpeg', alt: 'Education' }}

    
  >
    <Fragment slot="description">
      Child and youth education in rural India of Majhouli Raj, Deoria UP, INDIA
    </Fragment>

    
  </Hero>


  <Hero
  
    image={{ src: '~/assets/images/school/s2.jpeg', alt: 'Education' }}

    
  >
    <Fragment slot="description">
      Child and youth education in rural India of Majhouli Raj, Deoria UP, INDIA
    </Fragment>

    
  </Hero>


  <Hero
  
    image={{ src: '~/assets/images/school/s3.jpeg', alt: 'Education' }}

    
  >
    <Fragment slot="description">
      Child and youth education in rural India of Majhouli Raj, Deoria UP, INDIA
    </Fragment>

    
  </Hero>

  <Features
    id="features"
    tagline="RoadMap"
    title="Child and youth education | Create a better future"
    subtitle=""
    items={[
      {
        title: 'Why this intiative?',
        description:
          'Existing Schools is not world class like Europe, USA and China, leveraging that level of standard of education will be be significant in rural India will help children for sustainability.',
        icon: 'tabler:brand-tailwind',
      },
      {
        title: 'Differentiaors',
        description:
          'Minimal fees for all to run the oganization , No fees/Scholrship for poor gifted kids.',
        icon: 'tabler:components',
      },
      {
        title: 'Education Approach',
        description:
          'Use CBSE as baseline but utlizie Europe, China and USA Online Education Patterm so advance kids does not need to wait for next year to learn something they deserve',
        icon: 'tabler:list-check',
      },
      {
        title: 'Recreation Facilities after school',
        description:
          'We have almost .75 acre facility on the road side, easliy afer building 12 rooms schools building , there will be enough space for Swimming, Tennis, Track and Field , Table tennis, Baskestball. Kids will be higjly encouraged to play these sports which is not avaiable in any local schools and will match China and West culture and true growth of kids ',
        icon: 'tabler:rocket',
      },
      {
        title: 'Medical Support',
        description:
          "This is 2029 plan once school is stablized, There will be free or low cost medical support center for elederly people. Many your become doctor from this place and eager to support volunteer basis. This will be added advantage for local community and kids' parents. ",
        icon: 'tabler:arrows-right-left',
      },
      {
        title: 'Creating Technical skills like China in Technology',
        description:
          'Start teaching electrical and electronics engineering from 9th grade, enabling students to build semiconductors, mobile chips, and other devices. This can create a model for rural manufacturing employment and tap into India’s $50 billion mobile manufacturing market, currently reliant on imports from China.. ',
        icon: 'tabler:bulb',
      }
    ]}
  />

  




  
  
  



</Layout>
