---
import Layout from '~/layouts/PageLayout.astro';

import Hero from '~/components/widgets/Hero.astro';
import Note from '~/components/widgets/Note.astro';
import Features from '~/components/widgets/Features.astro';
import Features2 from '~/components/widgets/Features2.astro';
import Steps from '~/components/widgets/Steps.astro';
import Content from '~/components/widgets/Content.astro';
import BlogLatestPosts from '~/components/widgets/BlogLatestPosts.astro';
import FAQs from '~/components/widgets/FAQs.astro';
import Stats from '~/components/widgets/Stats.astro';
import CallToAction from '~/components/widgets/CallToAction.astro';

const metadata = {
  title: 'Child and youth education',
  ignoreTitleTemplate: true,
};
---

<Layout metadata={metadata}>
  <!-- Hero Widget ******************* -->

  <Hero
  
    image={{ src: '~/assets/images/school/image.png', alt: 'Education' }}

    
  >
    <Fragment slot="title">
      Child and youth education in rural India of Majhouli Raj, Deoria UP, INDIA
    </Fragment>

    <Fragment slot="subtitle">
      <span class="hidden sm:inline">
      The inititive is to open world class education for child and youth where poor parents cant afford even 
      500 Rs per month for their kids.
      At present Khurshid runs this afterschool where around 60 kids few pay under $ 5 per month and rest are free who cant efford it.
      Plan is to get finacial support from USA and India from my working colleagues and will take some loan from goverment. Open a school and provides education 
      with minimal fees like 5-10 $ per month and keep free for those who cant afford it.

      </span>
    </Fragment>
  </Hero>


  <Hero
  
    image={{ src: '~/assets/images/school/s1.jpeg', alt: 'Education' }}

    
  >
    <Fragment slot="description">
      Child and youth education in rural India of Majhouli Raj, Deoria UP, INDIA
    </Fragment>

    
  </Hero>


  <Hero
  
    image={{ src: '~/assets/images/school/s2.jpeg', alt: 'Education' }}

    
  >
    <Fragment slot="description">
      Child and youth education in rural India of Majhouli Raj, Deoria UP, INDIA
    </Fragment>

    
  </Hero>


  <Hero
  
    image={{ src: '~/assets/images/school/s3.jpeg', alt: 'Education' }}

    
  >
    <Fragment slot="description">
      Child and youth education in rural India of Majhouli Raj, Deoria UP, INDIA
    </Fragment>

    
  </Hero>

  <Features
    id="features"
    tagline="Features"
    title="Child and youth education be the pioneer worldwide"
    subtitle="123"
    items={[
      {
        title: 'test_3',
        description:
          'A seamless integration between two great frameworks that offer high productivity, performance and versatility.',
        icon: 'tabler:brand-tailwind',
      },
      {
        title: 'Ready-to-use Components',
        description:
          'Widgets made with Tailwind CSS ready to be used in Marketing Websites, SaaS, Blogs, Personal Profiles, Small Business...',
        icon: 'tabler:components',
      },
      {
        title: 'Best Practices',
        description:
          'Creating secure, efficient, and user-friendly websites that deliver exceptional experiences and lasting value.',
        icon: 'tabler:list-check',
      },
      {
        title: 'Excellent Page Speed',
        description:
          'Having a good page speed impacts organic search ranking, improves user experience (UI/UX) and increase conversion rates.',
        icon: 'tabler:rocket',
      },
      {
        title: 'Search Engine Optimization (SEO)',
        description:
          "SEO lies in its ability to enhance a website's visibility, driving organic traffic and enabling it to reach a wider audience.",
        icon: 'tabler:arrows-right-left',
      },
      {
        title: 'Open to new ideas and contributions',
        description:
          'Embracing a culture that is open to new ideas and contributions is integral fostering innovation, collaboration, and a dynamic user experience.',
        icon: 'tabler:bulb',
      },
    ]}
  />

  




  
  
  



</Layout>
